<!-- wp:group {"metadata":{"name":"Header"},"style":{"spacing":{"margin":{"top":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"position":{"type":"sticky","top":"0px"},"border":{"bottom":{"color":"#d9dee9","width":"1px"}}},"backgroundColor":"white","layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group has-white-background-color has-background" style="border-bottom-color:#d9dee9;border-bottom-width:1px;margin-top:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"metadata":{"name":"Container"},"align":"wide","layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"metadata":{"name":"Site Title"},"className":"has-hover-no-duotone","style":{"spacing":{"blockGap":"8px","padding":{"top":"0","bottom":"0","left":"8px","right":"0"}},"border":{"left":{"color":"#8ea0f1","width":"3px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-hover-no-duotone" style="border-left-color:#8ea0f1;border-left-width:3px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:8px"><!-- wp:site-title {"level":0,"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"},":hover":{"color":{"text":"#3651bd"}}}},"spacing":{"margin":{"top":"3px","bottom":"0","left":"0","right":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"textColor":"black","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Aside"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:navigation {"ref":4,"textColor":"black","overlayBackgroundColor":"primary","overlayTextColor":"neutral","layout":{"type":"flex","orientation":"horizontal","flexWrap":"nowrap"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Main Content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"metadata":{"name":"Page Header"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"42px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->