<!-- wp:group {"metadata":{"name":"Site Container"},"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:group {"tagName":"header","metadata":{"name":"Sticky Header"},"style":{"spacing":{"margin":{"top":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"position":{"type":"sticky","top":"0px"},"border":{"bottom":{"color":"var:preset|color|dual-tone-primary-100","width":"1px"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<header class="wp-block-group has-white-background-color has-background" style="border-bottom-color:var(--wp--preset--color--dual-tone-primary-100);border-bottom-width:1px;margin-top:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><!-- wp:template-part {"slug":"header","area":"header","align":"wide"} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"metadata":{"name":"Page Header"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"0"}}},"fontSize":"custom-1"} /-->

<!-- wp:group {"metadata":{"name":"Post Meta"},"style":{"spacing":{"blockGap":"10px"},"typography":{"fontStyle":"italic","fontWeight":"200","lineHeight":"1"}},"fontSize":"medium","fontFamily":"exo-2","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
<div class="wp-block-group has-exo-2-font-family has-medium-font-size" style="font-style:italic;font-weight:200;line-height:1"><!-- wp:group {"style":{"spacing":{"blockGap":"4px","padding":{"top":"0","bottom":"0","left":"0","right":"11px"}},"border":{"right":{"color":"var:preset|color|dual-tone-primary-200","width":"1px"},"top":[],"bottom":[],"left":[]}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="border-right-color:var(--wp--preset--color--dual-tone-primary-200);border-right-width:1px;padding-top:0;padding-right:11px;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
<p>Published on </p>
<!-- /wp:paragraph -->

<!-- wp:post-date /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"category","prefix":"Categorized in ","style":{"elements":{"link":{"color":{"text":"var:preset|color|dual-tone-primary-700"},":hover":{"color":{"text":"var:preset|color|dual-tone-secondary-600"}}}}},"textColor":"dual-tone-primary-950"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"auto","height":"400px","align":"wide","style":{"border":{"radius":"8px"},"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:spacer {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->